.heading {
    background-color: rgb(11, 190, 190);
    color: white;
    margin: 10px 0px;
}

.sub {
    background-color: rgb(11, 190, 190);
    color: white;
    font-size: 27px;
    margin: 10px 0px;
}


.title {
    background-color: rgb(11, 190, 190);
    color: white;
    margin: 10px 0px;
    font-size: 25px;
}


.src {
    height: 5rem;
    width: 5rem;
    /* margin: 5rem; */
}